[user]
	name = Charlie Wilson
  email = wilsoncd35@gmail.com
[color]
  ui = true
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pull]
  ff = only
[core]
  excludesfile = ~/.gitignore
[pager]
  branch = false
[push]
  autoSetupRemote = true
