engine-strict=true
logs-dir='./logs'
logs-max=100


init-author-name='Charlie Wilson'
init-author-email='wilsoncd35@gmail.com'
init-author-url='https://github.com/wilsoncd35'
init-license='SEE LICENSE IN LICENSE'
init-version='0.1.0-0'